.button {
	-fx-pref-width: 120px;
	-fx-pref-height: 40px;	
}

.lbCabecalhoEsquerda {
	-fx-pref-width: 95px;
}

.hbCabecalhoColuna1Linha {
	-fx-max-height: 30px;
}

#lErros > * {
	-fx-fill: #ff3333;
	-fx-font-size: 25px;
}

#lAcertos > * {
	-fx-fill: #0024e6;
	-fx-font-size: 25px;
}

#rErros {
	-fx-fill: #ff000018;
	visibility: hidden;
}

#lbPergunta > * {
	-fx-font-size: 18px;
}

#tfResposta {
	-fx-pref-height: 35px;
	-fx-pref-width: 80px;
}

#lvErros .cell.indexed-cell.list-cell {
	-fx-background-color: transparent;
	-fx-background-radius: 5;
	-fx-padding: 0 0 0 0;
}
#lvErros .scroll-bar:vertical,
#lvErros .scroll-bar:vertical .increment-button {
	-fx-background-radius: 3 3 7 3;
	-fx-border-radius: 3 3 7 3;
}

/* A pseudoClasse "aceso" usada no codigo java */
.accordion > .titled-pane > .title > .text:aceso,
.accordion > .titled-pane > .title > .arrow-button > .arrow:aceso {
	-fx-effect: dropshadow( one-pass-box, red, 3, 0.5, 0, 0);
}
