.button {
	-fx-pref-width: 120px;
	-fx-pref-height: 40px;	
}

.lbCabecalhoEsquerda {
	-fx-pref-width: 95px;
}

.hbCabecalhoColuna1Linha {
	-fx-max-height: 30px;
}

#lErros > * {
	-fx-fill: #ff3333;
	-fx-font-size: 25px;
}

#lAcertos > * {
	-fx-fill: #0024e6;
	-fx-font-size: 25px;
}

#rErros {
	-fx-fill: ff000019;
	visibility: hidden;
}

#lbPergunta > * {
	-fx-font-size: 18px;
}

#tfResposta {
	-fx-pref-height: 35px;
	-fx-pref-width: 80px;
}