#gpPrimario {
	-fx-background-color: linear-gradient(from 100% 0% to 0% 100%, #e6ffe6, #fff);
}

#gpCorpo {
	-fx-padding: 70 30 30 30;
}

.button > * {
	-fx-font-size: 25px;
}
.button, #labelEmBreve {
	-fx-padding: 5px;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
	-fx-border-width: 3px;
	-fx-border-radius: 14px;
	-fx-background-radius: 15px;
	-fx-background-insets: 1px;
	-fx-pref-width: 160px;
	-fx-pref-height: 90px;
}

.button.verde:hover {
	-fx-background-color: #ccffcc;
	-fx-background-insets: 0px;
}

.button.verde:armed {
	-fx-text-fill: #b3ffb3; 
	-fx-background-color: #00b300;
	-fx-background-insets: 0px;
}

#labelEmBreve {
	-fx-background-color: #b8b8b8;
	-fx-text-fill: #2e2e2e;
	-fx-opacity: 0.5;
	-fx-alignment: center;
}

#labelEmBreve > * {
	-fx-font-size: 25px;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
}
/*

/*